h1 {
  color: maroon;
  font-family: Times New Roman;
}

h4 {
  font-family: Times New Roman;
    color: brown;
}

h2 {
  font-family: Georgia;
  color: maroon;
}

p {
  font-family: Georgia;
}

strong {
  color: maroon;
}